
@font-face {
    font-family: 'Georgia bold';
    src: url('../fonts/Georgia/georgia-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Georgia regular';
  src: url('../fonts/Georgia/georgia-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Trenda bold';
    src: url('../fonts/Trenda/Latinotype/Trenda/Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Trenda regular';
  src: url('../fonts/Trenda/Trenda-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trenda thin';
  src: url('../fonts/Trenda/Trenda-thin.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


:root {
    --primary: #B28B33;
    --secondary: #8D1E72;
    --margin-per-section: 100px 0px 50px;
    --color-white: #FFFF; 
    --terciary: #E3A535;
}

body {
    margin: 0;
    overflow-x: hidden;

}

.email {
  font-family: 'Trenda bold', sans-serif;
}

.email a{
    color: black;
    text-decoration: none;
}


.btn-fixed{
    background-color: var(--primary) !important;
    color: var(--color-white);
    border-radius: 40px;
    position: fixed;
    display: block;
    z-index: 1;
    right: 30px;
    bottom: 40px;
    animation: ping 1s infinite alternate;

}
.btn-fixed:hover{
    background-color: var(--secondary) !important;
    color: var(--color-white) !important;
}

.text-success {
    color: green;
    font-size: 11px;
    margin-top: 9px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .text-warning {
    color: orange;
    font-size: 11px;
    margin-top: 9px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .text-danger {
    color: red;
    font-size: 11px;
    margin-top: 9px;
    font-weight: bold;
    cursor: pointer;
  }
  .tooltip-trigger {
    position: relative;
  }
  
  .tooltip-content {
    position: absolute;
    top: 50%;
    left: 43.4%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    display: none;
    z-index: 1;
  }
  
  .tooltip-trigger:hover + .tooltip-content {
    display: block;
  }
@keyframes ping {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(15px);
    }
  }

  .btn {
    background-color: #8D1E72;
    border: none;
    color: white;
    padding: 8px 50px 8px 25px;
    border-radius: 50px;
    position: relative;
}
.btn::before {
    content: '\2192';
    font-size: 18px;
    color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    background-color: var(--secondary);
    color: var(--color-white);
    border-radius: 40px;
    font-family: 'Trenda bold', sans-serif;
}

.btn-form {
  background-color: var(--secondary);
  color: white;
  padding: 8px 30px;
  border-radius: 45px;
  font-weight: 600;
  border: none !important;
}

.button-mobile{
  height: 40px;
}

strong{
  font-family: 'Trenda regular', sans-serif;
}

.btn:hover {
    background-color: var(--terciary);
    color: var(--color-white);
    border-radius: 40px;
}

.navbar {
    padding-top: 10px;
    background-color: var(--color-white);
}

header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

header .navbar-expand-lg .navbar-collapse a {
    font-size: 16px;
    line-height: 16px;
    color: black;
    font-family: 'Trenda bold', sans-serif;

}

header .navbar-expand-lg .navbar-collapse a:first-child {
    margin-right: 20px;
}

header h2 {
    font-size: 22px;
    line-height: 130%;
    width: 40%;
}

.people {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px !important;
}

.main-section {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 50px;  
  background-color: var(--secondary); 
}

.marquee-text {
  color: #fff;
  display: block;
  min-width: 200%;  
  font-size: 20px;  
  line-height: 50px; 
  animation: slide 20s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
section h1 {
    font-size: 40px;
    color: var(--color-white);
    font-family: 'Georgia bold', sans-serif;
}

section p {
    color: var(--color-white);
    font-size: 25px;
    line-height: normal;
    font-family: 'Trenda thin', sans-serif;
}

section .info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cadeado{
  width: 40px;
}
section .arrow {
    width: 16px;
}

.mask-boy{
  position: absolute;
  bottom: 0;
  left: 0px;
  max-height: 430px;
  border-radius: 0px 0px 0px 12px;
}

.card {
    background-color: var(--terciary);
    margin: 30px 0px;
    border-radius: 12px;
    border: none;
    padding: 40px;
}

.card:first-child{
  margin-top: 150px;
}

.card:last-child {
    background-color: var(--secondary);
    color: var(--color-white);
    list-style: none;
}

.card .item-title {
    /* color: var(--primary); */
    margin-bottom: 32px;
    font-family: 'Georgia bold', sans-serif;
}

.card .img-star {
    margin-right: -122px;
}

 .item-number {
    background-color: var(--primary);
    color: var(--color-white);
    margin-right: 21px;
    padding: 15px;
    border-radius: 50%;
}
.item-description{
  color: var(--color-white);
  font-size: 22px;
  font-family: 'Trenda thin', sans-serif;
  -webkit-text-stroke: thin;
  width: 85%;

}

.tiny-item-description{
  color: var(--color-white);
  font-size: 20px;
  font-family: 'Trenda thin', sans-serif;
  -webkit-text-stroke: thin;
}

.item-description, p, .btn, li, .accordion-content {    
  /* color: var(--color-white); */
    font-family: 'Trenda thin', sans-serif;
    -webkit-text-stroke: thin;
}

.link {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    font-size: 12px;
}
.item-number-card {
    background-color: var(--primary);
    color: var(--color-white);
    padding: 15px;
    border-radius: 50%;
}

.margin-section {
    margin: var(--margin-per-section);
    font-family: 'Georgia bold', sans-serif;
    
}

.alignment{
    min-height: 160px;
}

.mini-card {
    background-color: var(--primary);
    width: 100%;
    height: 270px;
    border-radius: 12px;
    padding: 30px;
    color: var(--color-white);
}

.mini-card h3{
  font-family: 'Georgia bold', sans-serif;
  margin-bottom: 15px;
}

.mini-card p {
    margin: 0px !important;
    font-family: 'Trenda thin', sans-serif;
    -webkit-text-stroke: thin;
    font-size: 18px;
}

.carousel-cell {
    min-height: 900px;
    max-width: 334px;
    margin-right: 40px !important;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.50);
    margin-bottom: 30px !important;
}

.carousel-cell img {
  border-radius: 20px;
  width: 335px;
  object-fit: cover;
}

.flickity-prev-next-button {
    background-color: var(--secondary) !important;
}
.spacement-desc {
    margin: 30px 30px 0;
    font-family: 'Trenda thin', sans-serif;
    -webkit-text-stroke: thin;
}

.spacement-desc p{
  font-family: 'Trenda regular', sans-serif;
}

.spacement-name {
    padding: 30px 0px 0px 30px;
}

.spacement-name p{
  font-family: 'Georgia bold', sans-serif;
  color: var(--secondary);
  font-size: 20px;
  font-weight: bold;
}

.spacement-name a{
  font-family: 'Trenda thin', sans-serif;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
}



.flickity-page-dots {
    display: none;
}

.flickity-button{
    color: white !important;
}

.card-educational {
    background-color: var(--secondary);
    margin: 0px 10px;
    border-radius: 12px;
    border: none;
    padding: 23px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    font-weight: bold;
}

.accordion-item {
    border: transparent;
    background: var(--secondary);
    margin: 30px 0px;
    padding: 30px;
    border-radius: 14px !important;
    cursor: pointer;
    color: white;
  }

.accordion-item a{
  color: white;
  text-decoration: underline;
}

  .accordion-item:nth-child(2n){
    background: var(--terciary);
  }

 
  
  .accordion-header {
    cursor: pointer;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }
  
  .rotate-arrow {
    transform: rotate(180deg);
  }
  
  .accordion-content {
    padding: 40px 0px 20px 0px;
  }

  footer {
    border-top: #3A3A3A 1px solid;
    padding: 60px;
  }

  footer .footer-img{
    width: 150px;
  }

  footer ul li a{
    text-decoration: none;
    font-family: 'Trenda bold', sans-serif;
    color: #3A3A3A;
  }

  .btn-close {
    background-color: white;
    border-radius: 50%;
  }
  
  .modal {
    background-color: white;
  }
  
  .modal-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }
  
  .modal-header,
  .modal-body,
  .modal-footer,
  .modal-content {
    background-color: white;
    color: #4D4D4D;
    border: none;
    border-radius: 20px;
  }
  
  .modal-body img {
    width: 150px;
    margin-top: -25px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  
  .modal-header p {
    display: none;
  }
  
  /* .form-control {
    background: white;
    border: none;
    color: #4D4D4D;
    font-weight: 600;
    border-radius: 0;
    border-bottom: 2px solid #9757FF;
  } */
  
  .form-control:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    background-color: white;
    color: #4D4D4D;
  }
  
  .modal-body p {
    font-weight: 770;
    font-size: 20px;
    color: rgb(124, 115, 115);
    margin-left: 13px;
    margin-bottom: -20px;
  }

  .modal-footer .btn-form {
    margin-bottom: 25px;
    border: none;
  }
  
  .ff-form .ff-title {
    font-weight: 800 !important;
  
  }
  
  .ff-form .ff-description p {
    display: none!important;
  
  }
  
  .ff-message, .ff-form .ff-powered-img img, .ff-title, .ff-button-bar .btn::before{
    display: none !important;
    opacity: 0;
  }

  .ff-layout-2column .ff-secfields{
    display: block !important;
  }

  .ff-form .ff-form-check{
    display: flex;
    align-items: baseline;
  }
  
  .modal-content {
    text-align: center;
    justify-content: center;
  }
  
  
  .modal-footer {
    text-align: center;
    justify-content: center;
    overflow: hidden;
  }

.slide-enter-active, .slide-leave-active {
    transition: margin-left 0.4s;
  }
  .slide-enter, .slide-leave-to {
    margin-left: 100%;
  }
  .validation-container {
    overflow: hidden;
  }
  .border{
    border-radius: 8px;
    padding: 10px;
  }
  .span-list {
    color: blueviolet;
    font-weight: 100;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid blueviolet;
    padding: 6px;
    border-radius: 40px;
  }
  .span-lista a{
    color: blueviolet;
    cursor: pointer;
    text-decoration: none;
  }
  .form-floating>.form-select {
    height: 34px !important;
    border: none;
    padding: 8px !important;
    color: blueviolet;


}
.form-select:focus{
    outline: none;
    box-shadow: none;
}
.form-control.link {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }
.form-control.link:focus {
    outline: none;
    box-shadow: none;
    
  }
  .form-control.link {
    color: blueviolet;
    padding: 0;

  }
.font-label {
    font-size: 12px;
}

.custom-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 21px;
    height: 19px;
    border: 1px solid #8a2be2;
    border-radius: 3px;
    outline: none;
    transition: background-color 0.3s;
  }

  .custom-checkbox input[type="checkbox"]:checked {
    background-color: #8a2be2;
  }

  .custom-checkbox input[type="checkbox"]:checked::before {
    content: '\2713';
    display: block;
    text-align: center;
    font-size: 12px;
    color: white;
  }

  

@media only screen and (max-width: 1240px){

    .item-description{
      width: 100%;


    .card .img-star img{
      width: 100%;
    }

    .mini-card h3 {
      font-size: 24px;
    }

    .mini-card p{
      font-size: 16px;
    }

    .card .item-title{
      margin-bottom: 20px;
    }

    .tiny-item-description{
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 600px) {

   .main-section{
    padding: 10px;
   }

   .main-section h1{
    font-size: 29px;
   }

   .main-section p{
    font-size: 20px;
   }

   .main-section p br{
    display: none;
   }

   .card{
    padding: 40px 30px;
   }

   .card img{
    width: 100%;
    margin-top: 20px;
   }

   /* .card .item-title{
    display: none;
   } */

   .card .item-description{
    font-size: 18px;
   }

   .card-educational, .card-part {
    margin: 10px 1px !important;
   }

   .card-educational{
    padding: 1px 36px!important;
    min-height: 127px !important; 
   }
   .card-educational p {
    font-size: 23px;
   }

   .mini-card{
    height: auto;
    margin-top: 20px;
   }
   .img-star{
    display: none;
   }
   .people{
    margin-top: 18px;
    position: relative;
    bottom: -10px;
   }
   /* .list-unstyled{
    display: block !important;
   } */
   footer {
    padding: 50px 10px !important;
   }
   .margin-section{
    margin-top: 60px;
    margin-bottom: 30px;
   }
   .navbar-toggler {
    background: white !important;
    border: transparent;
   }
   .navbar {
    padding: 16px 0px;
   }
   .accordion-item {
    margin: 10px 0px;
    /* min-height: 100px; */
    padding: 18px;
    }

    .mask-boy{
      display: none;
    }

    .card:first-child{
      margin-top: 50px;
    }

    .ff-form .ff-powered-img{
      display: none !important;
      opacity: 0 !important;
      width: 0 !important;
    }

    .creators-logo img{
      display: none;
    }

  .card .img-star img{
    width: 100%;
  }

  .mini-card h3 {
    font-size: 24px;
  }

  .mini-card p{
    font-size: 16px;
  }

  .card .item-title{
    margin-bottom: 20px;
  }

  .tiny-item-description{
    font-size: 18px;
  }

  .marquee-text{
    font-size: 18px;
  }

  footer ul li a {
    font-size: 14px;
  }
}